.App {
  text-align: center;
  
}

body {
  background-color: #d9ccc1;
  color: #400101;
  font-weight: 400;
}

h1 {
  color: #8c2108;
  font-weight: 900;
  
}

h2 {
  color: #f23a29;
  font-weight: 800;
}

h3 {
  color: #f2acb9;
  font-weight: 700;
}

h4 {
  color: #f23a29;
  font-weight: 600;
}

h5 {
  font-weight: 500;
}

a:hover {
  color: #f23a29;
}
